

.contactScreen
{
    color: white;
    background-color: #212529;
    border-radius: 0.5rem;
   
}

.feedbackForm
{
    text-decoration: none;
    color: #ff6f00;
    font-size: 2rem;
    
    
}

.connect
{   vertical-align: middle;
    text-decoration: none;
}

.twitterConnect 
{
    
    color: #1d9bf0
   
    
}

.instagramConnect
{   
    color: #FF0169;
}

.gmailConnect
{
   
    color: #fbbf12;
  
}

a
{
    text-decoration: none;
}
a:hover
{
    color: white
}