.contactScreen
{
    color: white
}

.feedbackForm
{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.connect
{   vertical-align: middle;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.twitterConnect 
{
    
    color: #1d9bf0
   
    
}

.instagramConnect
{   
    color: #FF0169;
}