
.movieScreen
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

.movieContainer, .similarMoviesContainer
{
    color: white;
    background-color: #212529;
    border-radius: 0.5rem;
    height: 100%;
    
}

.similarMovie:hover
{
color: #ff6f00;
font-weight: bold;
}