
.movieScreen
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: auto;
    
}

.movieContainer, .similarMoviesContainer
{
    color: white;
    background-color: #212529;
    border-radius: 0.5rem;
    height: 100%;
    
}

.similarMovie:hover
{
color: #ff6f00;
font-weight: bold;
}

.commentsContainer
{
    background-color: #212529;
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}
.deleteCommentIcon
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentTextArea, .addCommentButton
{   
    vertical-align: middle;
    height: auto;
    width: 100%;
}
