.hero {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    color: #ffffff;
    text-align: center;
    position: relative; 
    background-image: url('/homePageBackgroungImage.jpg') ;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

